# Fichiers à ignorer

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
env/
ENV/
.venv

# Insatallation
excels_to_db.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Données générées
data/
!data/.gitkeep

# Bases de données générées (au cas où elles seraient hors de data/)
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
.coverage
htmlcov/

# Fichiers temporaires
*.tmp
*.bak
